
<form method = "post" action = "confirm" id = "text_box">

    <p> Would you like to check a 10 or 13 digit ISBN? </p>

	<input type="checkbox" name="ten" value="ten"> 10 <br>

	<input type="checkbox" name="thirteen" value="thirteen"> 13 <br>

	<input type="number" name="isbn_number"> Enter an ISBN number of your chosen length. <br> 

    <input type = "submit">

</form></center>